@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  height: 100vh;
}

@layer components {
  .input {
    @apply rounded-md border-0 bg-white text-gray-600 py-1.5 px-3 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
